<div class="flex w-full flex-col overflow-scroll rounded-xl bg-clip-border overflow-scroll text-gray-900 text-left bg-white shadow-md">
    <table class="w-full min-w-[768px] table-auto">
        <thead>
            <tr class="font-semibold border-b border-slate-500 bg-slate-200 text-sm leading-none">
                <th class="p-4">Nombre usuario</th>
                <th class="p-4">Apellido usuario</th>
                <th class="p-4">Correo electrónico</th>
                <th class="p-4">Número de teléfono</th>
                <th class="p-4">Fecha creación</th>
                <th class="p-4">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @defer  {
                @for (user of users; track user.id) {
                    <tr class="text-sm border-b hover:bg-slate-50 border-slate-200 text-slate-800">
                        <td class="p-4"> {{ user.name }} </td>
                        <td class="p-4"> {{ user.lastName }} </td>
                        <td class="p-4"> {{ user.email }} </td>
                        <td class="p-4"> {{ user.phone }} </td>
                        <td class="p-4"> {{ user.registerDate }} </td>
                        <td class="p-4">
                            <div class="flex w-max gap-4">
                                <button (click)="update()" class="rounded-md bg-amber-600 py-2 px-4 border border-transparent transition-all shadow-md hover:shadow-lg focus:bg-amber-700 focus:shadow-none active:bg-amber-700 hover:bg-amber-700 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none" type="button">
                                    <fa-icon class="me-1.5 text-slate-800" [icon]="faPencil"></fa-icon>
                                </button>
                                <button class="rounded-md bg-red-600 py-2 px-4 border border-transparent transition-all shadow-md hover:shadow-lg focus:bg-red-700 focus:shadow-none active:bg-red-700 hover:bg-red-700 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none" type="button">
                                    <fa-icon class="me-1.5 text-white" [icon]="faTrash"></fa-icon>
                                </button>
                            </div>
                        </td>
                    </tr>
                } @empty {
                    <p>No hay elementos en la tabla</p>
                }
            }
        </tbody>
    </table>
</div>