<div class="overflow-scroll text-gray-50 bg-blue-gray-700 shadow-md">
    <table class="w-full text-left table-auto min-w-max">
        <thead>
            <tr class="font-semibold border-b border-slate-600 text-sm leading-none">
                <th class="p-4">
                    <p>
                        Nombre usuario
                    </p>
                </th>
                <th class="p-4">
                    <p>
                        Apellido usuario
                    </p>
                </th>
                <th class="p-4">
                    <p>
                        Correo electrónico
                    </p>
                </th>
                <th class="p-4">
                    <p>
                        Número de teléfono
                    </p>
                </th>
                <th class="p-4">
                    <p>
                        Fecha creación
                    </p>
                </th>
                <th class="p-4">
                    <p>
                        Acciones
                    </p>
                </th>
            </tr>
        </thead>
        <tbody>
            @defer  {
                @for (user of users; track user.id) {
                    <tr class="text-sm border-b border-slate-700">
                        <td class="p-4">
                            <p>
                                {{user.name}}
                            </p>
                        </td>
                        <td class="p-4">
                            <p>
                                {{user.lastName}}
                            </p>
                        </td>
                        <td class="p-4">
                            <p>
                                {{user.email}}
                            </p>
                        </td>
                        <td class="p-4">
                            <p>
                                {{user.phone}}
                            </p>
                        </td>
                        <td class="p-4">
                            <p>
                                {{user.registerDate}}
                            </p>
                        </td>
                        <td class="p-4 border-b border-slate-700">
                            <div class="flex w-max gap-4">
                                <button class="rounded-md bg-amber-600 py-2 px-4 border border-transparent text-center text-sm text-gray-50 font-semibold transition-all shadow-md hover:shadow-lg focus:bg-amber-700 focus:shadow-none active:bg-amber-700 hover:bg-amber-700 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none ml-2" type="button">
                                  Actualizar
                                </button>
                                <button class="rounded-md bg-red-600 py-2 px-4 border border-transparent text-center text-sm text-gray-50 font-semibold transition-all shadow-md hover:shadow-lg focus:bg-red-700 focus:shadow-none active:bg-red-700 hover:bg-red-700 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none ml-2" type="button">
                                    Eliminar
                                </button>
                              </div>
                        </td>
                    </tr>
                } @empty {
                    <p>No hay elementos en la tabla</p>
                }
            }
        </tbody>
    </table>
</div>