<app-navbar></app-navbar>

<div class="relative isolate px-6 lg:px-8 bg-cover bg-center" style="background-image: url('/assets/img/hero.jpg');">
  <div class="absolute inset-0 bg-black opacity-50 -z-10"></div>

  <div class="mx-auto max-w-2xl py-32 sm:py-48 lg:py-56">
    <div class="text-center">
      <h1 class="text-balance text-4xl font-bold tracking-tight text-white sm:text-6xl">
        Descubre lo Mejor en Productos Exclusivos
      </h1>
      <p class="mt-6 text-lg leading-8 text-gray-200">
        Ofrecemos una selección única de productos de alta calidad a los mejores precios. Compra con confianza y lleva lo mejor a tu hogar.
      </p>
      <div class="mt-10 flex items-center justify-center gap-x-6">
        <a href="#" class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
          ¡Empieza a comprar ahora!
        </a>
        <a href="#" class="text-sm font-semibold leading-6 text-white">
          Explora nuestras ofertas <span aria-hidden="true">→</span>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="bg-white py-16 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:text-center">
      <h2 class="text-base font-semibold leading-7 text-indigo-600">Porqué Elegirnos</h2>
      <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Todo lo que necesitas lo encuentras con nosotros</p>
      <p class="mt-6 text-lg leading-8 text-gray-600">En nuestra tienda en línea, nos esforzamos por ofrecerte una experiencia de compra excepcional. Estas son las razones por las que somos la opción favorita de miles de clientes:</p>
    </div>
    <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-4xl">
      <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16">
        <div class="relative pl-16">
          <dt class="text-base font-semibold leading-7 text-gray-900">
            <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-600">
              <fa-icon class="text-white" [icon]="faLayerGroup"></fa-icon>
            </div>
            Amplia Variedad de Productos
          </dt>
          <dd class="mt-2 text-base leading-7 text-gray-600">Encuentra todo lo que necesitas en un solo lugar: tecnología, moda, hogar y mucho más. Nuestro catálogo está en constante expansión para ofrecerte lo último.</dd>
        </div>
        <div class="relative pl-16">
          <dt class="text-base font-semibold leading-7 text-gray-900">
            <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-600">
              <fa-icon class="text-white" [icon]="faShield"></fa-icon>
            </div>
            Compra Segura y Garantizada
          </dt>
          <dd class="mt-2 text-base leading-7 text-gray-600">Tu seguridad es nuestra prioridad. Contamos con métodos de pago confiables y protegemos tus datos personales en cada transacción.</dd>
        </div>
        <div class="relative pl-16">
          <dt class="text-base font-semibold leading-7 text-gray-900">
            <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-600">
              <fa-icon class="text-white" [icon]="faTruckFast"></fa-icon>
            </div>
            Entrega Rápida y Eficiente
          </dt>
          <dd class="mt-2 text-base leading-7 text-gray-600">Recibe tus productos en tiempo récord. Ofrecemos envíos rápidos y seguros a todo el país.</dd>
        </div>
        <div class="relative pl-16">
          <dt class="text-base font-semibold leading-7 text-gray-900">
            <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-600">
              <fa-icon class="text-white" [icon]="faCommentDollar"></fa-icon>
            </div>
            Ofertas Exclusivas y Descuentos
          </dt>
          <dd class="mt-2 text-base leading-7 text-gray-600">Disfruta de promociones y descuentos únicos en productos seleccionados. Ahorra más comprando con nosotros.</dd>
        </div>
      </dl>
    </div>
  </div>
</div>


<!-- <div>
  <app-product-slider title="Electrónica" [products]="electronic"></app-product-slider>
  <app-product-slider title="Cocina" [products]="kitchen"></app-product-slider>
  <app-product-slider title="Decoración" [products]="decoration"></app-product-slider>
  <app-product-slider title="Muebles" [products]="furniture"></app-product-slider>
</div> -->

<app-footer></app-footer>