<section class="py-12 md:py-20 min-h-screen flex justify-center items-center">
    <div class="container mx-auto">
        <div class="flex justify-center">
            <div class="text-center">
                <h2 class="flex justify-center items-center gap-2 mb-6">
                    <span class="text-6xl font-bold">404</span>
                </h2>
                <h3 class="text-2xl mb-8">Veo que estás perdido</h3>
                <a class="btn text-white bg-gray-900 rounded-full px-10 py-3 text-base" routerLink="login" role="button">Ir al inicio</a>
            </div>
        </div>
    </div>
</section>